extends layout

block sidebar
    ul(class='sidebar-nav')
        li
            a(href='/') Home
        li
            a(href='/orders') All orders
        li
            a(href='/orders/' + `${id}` + '/update') Update order
        li
            a(href='/orders/' + `${id}` + '/delete') Delete order

block content
    h1= message
    h2= 'Id заказа: ' + id
    h2= 'Id клиента: ' + info[0].clientId
    h2= 'Id повара: ' +  info[0].cookId
    h2= 'Статус заказа: ' +  info[0].orderDone
    h2= 'Время выполнения заказа: ' +  info[0].timeCooking